*{
    margin: 0;
}


.head{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(251, 127, 148);
    box-shadow: 5px 5px 5px rgba(255, 175, 175, 0.435);
    background-color: pink;
    width: 100%;
}

.navitems{
    margin: 1em;
    display: flex;
    font-size: 17px;
}

.box{
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 20px;

}

.box:hover{
    transition: 0.4s;
    font-size: 110%;
    background-color: rgb(251, 251, 251);
    cursor: pointer;
    border-radius: 10px;
}

.box:active{
    transition: 0.25s;
    background-color: rgb(251, 212, 212);;
}

.dropdown{
    display: none;
}
.dropnav{
    display: none;
}


@media (max-width:800px){
    .dropdown{
        display: initial;
        align-content: center;
        margin-right: 10%;
        cursor: pointer;
    }
    .dropdown:hover{
        transition: 0.6s;
        background-color: white;
        border-radius: 10px;
    }
    .dropnav{
        display: none;
    }
    .box{
        text-align: center;
    }
    .navitems{
        display: none;
    }
    .logo{
        padding: 20px;
    }
}

